[2013-10-22 14:39] YoshihiroIto opened #1 "実行に失敗する"
MacVim Kaoriyaで実行するとエラーになってしまいました。
clangは公式サイトのビルド済みを使用しました。

.vimrcでの設定は
        let g:clang_format#command = '/Users/BaB/Downloads/clang/bin/clang-format'

[code]

です。

整形しようとしたコードは
https://github.com/YoshihiroIto/vim-icondrag/blob/master/internal/icondrag/Core.cpp
です。

コード全体や関数１つをビジュアル選択して実行しました。

[2013-10-22 23:58] YoshihiroIto opened #2 "整形時のスクロール位置、カーソル位置が移動してしまう"
https://github-camo.global.ssl.fastly.net/d7c327d3895f3a3bc1c0859117a5538db89b0c20/687474703a2f2f6769667a6f2e6e65742f42497465474a39566173672e676966
これを見てると、整形前と整形後でスクロール位置は変更ないのですが、
自分の環境では整形時にスクロール位置が移動してしまいます。

また整形を行いアンドゥを行うと、カーソル位置がバッファ先頭に移動してしまいます。

[2013-10-23 01:59] #1 closed, assigned to nobody

[2013-10-23 13:39] rhysd opened #3 "`2>&1` doesn't work on csh"
`2>&1` doesn't work on csh because `2` is interpreted as command and a empty file named `1` is made.  In this plugin, `clang_format#get_version()` uses `2>&1` and it doesn't work on csh.

This bug is reported by @syngan.
https://github.com/rhysd/vim-clang-format/commit/c9c096e2a2d8cf25924fe0fe577ca16fb2f15728#commitcomment-4404399
http://d.hatena.ne.jp/syngan/20121111/1352561863

[2013-10-23 17:50] #3 closed, assigned to nobody

[2013-10-28 04:50] #2 closed, assigned to nobody

[2013-11-06 12:23] jonthn opened #4 "Catch error when not using vim-operator-user"
I noticed a small error when using vim-clang-format without the plugin vim-operator-user.

I get this when launching vim :

[code]

But if I change the catch line to :

[code]

Then it works as expected

[2013-11-12 22:45] #4 closed, assigned to nobody

[2014-01-08 06:58] oblitum opened #5 "Indexing error on version checking function"
On Ubuntu I had to change:

[code]

to

[code]

to avoid several errors the first time I call `:ClangFormat`. Maybe an improved version check mechanism is needed.

[2014-01-10 15:09] APokorny opened #6 ".clang-format file is not detected"
I have a .clang-format file in the root directory of my source code. I assumed that vim-clang-format would work like clang-format and search upwards in the directory tree. It still formats in llvm default style:
This is in my .vimrc:
let g:clang_format#command = "clang-format-3.5"
let g:clang_format#detect_style_file = 1

structure is like that:
 ~/project/include/foo/bar.h
 ~/project/.clang_forma

[2014-01-16 18:59] #5 closed, assigned to rhysd

[2014-01-16 19:09] #6 closed, assigned to rhysd

[2014-03-01 22:19] darthdeus opened #7 "clang-format 3.4 doesn't seem to work"
I'm getting the following error message when I try to run :ClangFormat using clang-format-3.4

[code]

[2014-03-02 17:03] #7 closed, assigned to nobody

[2014-04-03 22:34] bear24rw opened #8 "Cursor position not maintained after undo"
To replicate:
1. `shift+v` to visually select a line
2. `,cf` to run clang format (cursor is in correct position)
3. `u` to undo (cursor is now at top of file)

Is there a way to have the cursor remain in the original position after the undo?

clang-format version 3.4

[2014-07-03 20:07] dnwe opened #9 "Wishlist: auto_format modified lines only?"
Is it possible to provide `g:clang_format#auto_format` but which only reformats the lines that have been modified since the buffer was last saved?

[2014-07-08 08:48] #9 closed, assigned to rhysd

[2014-07-08 09:13] daedric opened #10 "Formatting is slow"
Hi,
I tested your plugin but I noticed that it is significantly slower than executing the python script. Would you happen to know why ?
How could I help ?

This was my configuration:

[code]

(on a side note, the imap was not working, if you know why I would love to ear the reason.)

Thanks for your work !

[2014-07-08 09:55] #10 closed, assigned to nobody

[2014-07-22 14:52] tobiasgrosser opened #11 "Using clang-format as input to "formatexpr""
Hi,

It would be nice if clang-format could be used as input to formatexpr. See :help formatexpr for details.

[2014-07-23 15:36] #11 closed, assigned to rhysd

[2014-07-28 18:28] dirvine opened #12 "Last commits screwed up input"
Since the last bunch of commits the system has become unstable on clangformat 3.4 3.5 on linux. I had to revert to an earlier commit 009df097b1952f28a88087c7602fd13a23c44c29 to get a working system again. Hope this helps

[2014-08-06 01:23] qqibrow opened #13 "How to install it?"
Hi, I am using the vim provided here : https://github.com/spf13/spf13-vim. it use bundle to manage the plugins. I am kind of new to vim. How to install this?

[2014-08-06 17:01] #13 closed, assigned to rhysd

[2014-10-27 16:55] kbenzie opened #14 "Error on Windows"
I've been using this plugin on linux happily for months, thanks. However I'm sometimes required to do development on Windows at work.

I have `clang-format` on my path but am getting the following error message in Windows gvim 7.4.

![screenshot from 2014-10-27 16 52 44](https://cloud.githubusercontent.com/assets/1625763/4795129/dbe519f6-5df9-11e4-9ca1-a030c4d9f34c.png)

I tried installing [Shougo

[2014-10-30 06:31] shaladdle opened #15 ":ClangFormat forces me to presse ENTER to continue"
Whether it's on the current line using :ClangFormat or when I use 'let g:clang_format#auto_format = 1', I get this message and can't continue without hitting enter.

[code]

[2014-10-30 07:15] #15 closed, assigned to rhysd

[2014-11-07 07:42] bbchung opened #16 "using g:clang_format#auto_formatexpr=1 and use gq to format cause wrong result in this case"
# include <stdio.h>
# include <string.h> // this line will be merged to first line after gq twice time

int main()
{
}

vim version
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Nov  7 2014 10:11:04)
Included patches: 1-507

libclang3.5

[2014-11-27 05:32] #16 closed, assigned to rhysd

[2014-11-27 08:21] erikw opened #19 "Buffer local auto format"
The auto format option is global,

g:clang_format#auto_format

but it makes sense to be able to have different settings per buffer as you e.g. don't want to auto-format some one elses code in one buffer but want it on my code in another. I've tried to change "g" to "b" but it vim complains that the varname is illegal. Is it possible to make this a per-buffer setting additionally to having the glob

[2014-12-09 10:43] choucavalier opened #20 "Load the clang configuration from a file"
Instead of writing the clang-format configuration in our vim config directly, could it be possible to load it from a clang-format config file. Sometimes we also want to run clang-format from the command line (using a config file then). Currently, if we want to modify the style options, we have to modify it in both places.

[2014-12-09 11:08] #20 closed, assigned to nobody

[2015-01-21 10:49] jonvaldes commented on #14
Hi rhysd, I'm afraid I have the same problem. Windows7, Vim7.4, plugin freshly cloned from github and installed by manually copying files to vimfiles dir.

The error I get is a little different, though:
[code]

I have tried setting the clang_format#command variable as you suggested, and then I get a different error:
[code]

Any ideas?
Thanks!

[2015-01-21 15:47] rhysd commented on #14
@jonvaldes

Thank you for your report.
The error seems to occur [here](https://github.com/rhysd/vim-clang-format/blob/master/autoload/clang_format.vim#L150) where vim-clang-format executes `clang-format` command.
And `:help E484` says that it is an error when Vim can't read a temporary file at calling `system()`.  In Windows, some additional special character must be escaped.  So it seems to be th

[2015-01-21 16:13] rhysd commented on #14
@jonvaldes

I tried to fix this issue in [fix/issues/14](https://github.com/rhysd/vim-clang-format/tree/fix/issues/14) branch.  Could you try it?  I can't test it on my side because I don't have Windows PC.

[2015-01-21 16:20] jonvaldes commented on #14
@rhysd
Just tried it, but I get the same issue. However, if I move clang-format to c:\ or I make sure it's in the path, I still get the original error:
[code]
So I guess that wouldn't be because of weird characters...

[2015-01-22 03:42] rhysd commented on #14
@jonvaldes

Thank you for your try.  It seems that command should also be escaped.  I implemented it in b175afa.

This error message derives from the failure of executing `clang-format` command.  So, to determine it is an issue of vim-clang-format side or clang-format side, it is needed to execute the same command in cmd.exe manually and check the result.

[2015-01-22 08:36] jonvaldes commented on #14
@rhysd
I've tried that commit, but I still get the same error :(
I need to go back to work on my own stuff, so for the moment I've resorted to a crappy .bat file. That'll work for the moment.

If you try any more possible fixes for this issue, I'll gladly check them out and see if they work for me.

[2015-02-08 11:34] kamilpajak opened #22 "clang-format is not found"
Hi, I have installed clang-format:

    Ubuntu clang-format version 3.5-1ubuntu1 (trunk) (based on LLVM 3.5)

and vim-clang-format plugin:
![a26c71a194770b8c31adaed33870106c](https://cloud.githubusercontent.com/assets/3846262/6096375/2ff166cc-af8e-11e4-96ac-6f4e1e1cf33d.png)

When I try to execute :ClangFormat in Vim i get this error
![cd0e6ed0b58cd89dea80573625c2e452](https://cloud.githubusercont

[2015-02-08 14:11] rhysd commented on #22
Hi @kamilpajak ,

Please be sure below points.

1. Execute `:echo g:clang_format#command` to show the name of command which vim-clang-format uses.
2. Check that above command exists in your `$PATH` actually.
3. If not, please set your command to `g:clang_format#command` in your vimrc.  Below is the example when command name is `clang-format-3.5`.

[code]

[2015-02-08 16:31] kamilpajak commented on #22
Thank you! Problem is solved:-)

[2015-02-08 17:32] #22 closed

[2015-02-08 18:17] rhysd commented on #22
:dog: :+1:

[2015-04-03 05:03] klemmster opened #23 "Support Javascript"
Running ClangFormat currently results in a reformatted file with the following message on top of it:

[code]

Would it be possible to just enable Javascrip files as well?

[2015-04-03 17:48] rhysd commented on #23
vim-clang-format doesn't support JavaScript yet.
It is in my TODO list but haven't been completed because I'm not a JavaScript user.
However, you seems to want the JavaScript formatting so I'll try it.

Please wait for that without a lot of expectations :grin:

[2015-04-04 04:03] rhysd commented on #23
When I didn't set `g:clang_format#style_options`, it worked well.  I guess you specify the C++ specific option to `g:clang_format#style_options`.  Could you try to unset `g:clang_format#style_options` and format again?

Now vim-clang-format can't accept the filetype specific style options.  It is a defect of vim-clang-format.  I'm considering the way to deal with it.

[2015-04-04 04:41] rhysd commented on #23
I added `g:clang_format#filetype_style_options` for filetype-specific style options.
You can use it like below:

[code]

[2015-04-16 11:49] rhysd commented on #23
I'll close this issue because of no response.

[2015-04-16 11:49] #23 closed

[2015-05-07 12:22] krux02 opened #24 "fortat of source code removes all marks"
ClangFormat of the entire source code removes all marks.

steps to reproduce in normal mode:

    :ClangFormat                   //format to make sure the next call does nothing
    mm                             //set the mark m
    :marks                         //you see the mark m now
    :ClangFormat                   //does nothing now
    :marks                         //now the mark is gon

[2015-05-07 15:22] rhysd commented on #24
Hi @krux02.

Great catch!  I couldn't notice that because I don't use makrs.  I'll reproduce the bug and consider the way to avoid.

[2015-05-08 10:35] krux02 commented on #24
I don't know, how clang format works at the moment, but I think it just replaces the entire buffer with the output of clang-format. I think a simple way to implement it, that has the least amount of side effects, is to make a diff with the current buffer, and the output of clang-format, and then apply the diff on the buffer. This way you as the user don't need to carefully select the text for clan

[2015-05-08 11:03] krux02 opened #25 "project local clang-format"
hello again. I have a project local clang format file, and some formating options set in my vimrc like indentation size. It seems to me, that my global vimrc config overrides, what is defined in my project local clang-format. Shouldn't this be the other way round. The project settings should be more important to my project and language independent vimrc configurations

[2015-06-27 07:59] glacjay opened #26 "Windows: failed to format"
LLVM version: 3.6.1

[2015-06-28 02:40] rhysd commented on #26
duplicate #14

[2015-06-28 02:40] #26 closed

[2015-06-28 03:05] glacjay commented on #14
When I format my code using `:12verbose ClangFormat`, I got these:

[code]

And my LLVM version is 3.6.1.

[2015-08-19 10:58] erichlf commented on #25
Did you set g:clang_format#detect_style_file in .vimrc?

[2015-09-01 16:50] Commander14 commented on #14
Has anyone ever successfully gotten vim-clang-format to work on Windows with gvim? I have the same temp file issue and none of the suggestions here fix it.

[2015-09-11 07:25] x1596357 commented on #14
I encountered this problem just after an Vundle PluginUpdate, so I think the problem is in those plugins. There is a dependency call vimproc. So after an update, the builded dll for Windows is lost. Thus after you updated the plugin or you just installed vimproc you need to build the vimproc dll. You can build it by cd into vimproc.vim folder and exec "./tools/update-dll-mingw.bat". The building r

[2015-11-02 17:19] teamblubee opened #28 "clang-format not detecting my settings"
I am on debian 8 using gnome-terminal

I followed the instructions to install vim-clang-format through Vundle.

After installing clang format from debian repo and testing it on the command line it works there. When I attempt to do :ClangFormat in vim I get this error:

![cf error](http://i.imgur.com/MWzlydo.png)

my vim folder structure looks like this
![cf error](http://i.imgur.com/fdm5uLU.png)

[2015-11-02 17:22] rhysd commented on #28
The error says that `clang-format` command is not found.  Are you sure that it exists?

[2015-11-02 17:25] rhysd commented on #28
Investigating `$PATH` may also be helpful.  Or please try `:echo executable('clang-format')`.  Does it say `1`?

[2015-11-02 17:35] teamblubee commented on #28
:echo executable('clang-format'). says zero

on this machine debian jessie 8, I have to run clang-format-3.5 to get it to show up in the terminal. I tried editing the vim file so it searches for clang-format-3.5 as well as clang-format; that didn't work.

I also alias clang-format to clang-format-3.5; that didn't work for the plugin but it worked fine in the terminal.

my path is typical /usr/loca

[2015-11-02 17:37] rhysd commented on #28
Ah, OK, the suffix is not considered.  Below config will solve this problem.

[code]

[2015-11-02 17:38] rhysd commented on #28
If you want more generic setting, below may be better.

[code]

[2015-11-02 17:39] teamblubee commented on #28
oh, excellent the first one fixed the problem. I'll update it in my file, thanks a lot for the fast support!

[2015-11-02 17:40] rhysd commented on #28
You're welcome!

[2015-11-02 17:40] #28 closed

[2015-11-13 03:21] krux02 commented on #24
In case you want to know. if you have `autoread` set, your buffer is written and an external program does changes to the file, vim reloads the file with properly migrating the marks.

[2015-11-24 22:38] asenac opened #30 "Undo after formatting region reverts the previous change"
Let's say you add something to a line, then you select the line and call ClangFormat command to format it, but then you decide to revert the formatting, so you press u for undo. However, that also reverts what you added to that line before invoking ClangFormat, which isn't what you might expect.

That behaviour matches the one described in the documentation for undojoin command:

:undoj[oin]     J

[2015-11-27 10:52] Yamakaky commented on #23
clang-format#auto_format doesn't work by default.

[2015-11-28 05:26] oblitum commented on #8
just like to point out that the guys on rust.vim [were able](https://github.com/rust-lang/rust.vim/pull/52) to implement this based upon @fatih's work.

[2016-01-20 15:54] peplin opened #31 "Insert mode broken when using auto_formatexpr with textwidth"
If you have these options set:

[code]
where the `textwidth` is anything except 0, then insert mode is really messed up.

I found [this thread](http://comments.gmane.org/gmane.editors.vim.devel/31451) which mentions:

that is, unless you don't set a `textwidth`. I tried clearing `formatoption` so none of the automatic wrapping at the `textwidth` was enabled, but it had no effect.

Something about

[2016-01-20 16:39] rhysd commented on #31
Yes, you should not use `textwidth` if you use clang-format.  clang-format has a feature to limit number of characters in one line (`ColumnLimit`).  It's powerful because clang-format considers C++'s context, `textwidth` doesn't.

[2016-01-20 19:08] peplin commented on #31
I'm totally fine with that, it's working great now - should I send a PR with an update to the docs or README to mention it? I almost bailed on using this plugin because of this issue.

[2016-01-21 00:27] rhysd commented on #31
It's helpful :smile:

[2016-01-21 16:11] peplin commented on #31
Great, thanks!

[2016-01-21 16:11] #31 closed

[2016-01-31 14:29] Congee opened #33 "Inconsistent behavior from binary clang-format tool when formating multiline function arguments (exceeding column limit)"
clang-format version 3.8
my only setting in `.vimrc` is `let g:clang_format#command = "/usr/local/opt/llvm/bin/clang-format"
`

Test file belowing:

[code]

clang-format tool generated:

[code]

vim-clang-format generated (using Google style, same with vim-clang-format's):

[code]

So, here are the problems:
Why `vim-clang-format`'s behavior is different from what `clang-format` binary tool does?

[2016-02-02 15:27] toogy commented on #25
I have the same problem even though `g:clang_format#detect_style_file` is set to 1 in my `.vimrc`

[2016-02-29 20:50] lekv commented on #30
I tried the plugin today and can confirm that this is still an issue in the latest version.

[2016-03-27 14:58] pmalek opened #38 "How to specify BraceWrapping when BreakBeforeBraces is set to Custom?"
I am having issues trying to specify `BraceWrapping` with `BreakBeforeBraces` is set to `Custom`.

I have tried the following config:

[code]

but I get the following error inside vim:

[code]

[code]

[2016-03-27 15:52] rhysd commented on #38
vim-clang-format currently considers only the case when values of JSON are string.  I'll fix this.

[2016-03-27 17:59] rhysd commented on #38
Is that really correct?  Below looks correct for me.

[code]

[2016-03-27 18:26] #38 closed

[2016-03-27 18:28] rhysd commented on #38
@pmalek

I fixed this in 3c8c9bb.  If you notice the bug is still there, please ping me.  I'll reopen this and fix again.

[2016-03-27 19:13] pmalek commented on #38
Works like a charm! Thanks a lot @rhysd - and yes, probably my syntax was wrong. After I changed it to what you have proposed it worked.

[2016-03-27 19:43] rhysd commented on #38
Thank you for your confirmation.

[2016-04-11 01:20] asavageiv opened #39 "Version check fails with clang-format installed by npm"
If you install clang with npm then clang-format --version gives a value less than 3.7 and the plugin fails.

[2016-04-11 01:41] rhysd commented on #39
Thank you the report.  I didn't know clang-format is packaged as npm module.

The version of it is `1.0.37` currently.  We need to consider the string `NPM` to check the version.

[2016-04-11 02:28] rhysd commented on #39
@asavageiv

You seem to fork this repo already.  Do you want to send a PR for this?

[2016-04-11 04:06] asavageiv commented on #39
I'm not super familiar with vim scripting. I just commented the check out.

On Sun, Apr 10, 2016 at 7:28 PM Linda_pp <notifications@github.com> wrote:

[2016-04-11 04:15] rhysd commented on #39
@asavageiv

OK, I'll fix this.

[2016-04-11 04:22] #39 closed

[2016-04-11 04:23] rhysd commented on #39
I confirmed the fix with clang-format npm package 1.0.37, Node.js 5.10.1 and npm 3.8.3.  If you notice that a bug is still there, please ping me here.

[2016-04-11 04:30] asavageiv commented on #39
It works. Thanks!

On Sun, Apr 10, 2016 at 9:23 PM Linda_pp <notifications@github.com> wrote:

[2016-04-11 04:34] rhysd commented on #39
Thank you for confirming :smile:

[2016-05-19 09:38] zhangtemplar opened #41 "how to install it?"
Hi, I have installed clang-format 3.6 and vimproc.vim, but I still have no idea with how to install it to my vim, I am using Ubuntu 14.04?

@rhysd No one dare to write one more sentence on how to install?

[2016-05-19 10:45] rhysd commented on #41
No document for installation because this plugin can be installed in common way.  Please see `:help add-plugin` or use one of plugin managers

[2016-05-19 10:47] rhysd commented on #41
Note:  Please do not use 'it' in title.  I guessed the 'it' is clang-format.

[2016-05-23 13:25] 372046933 opened #42 "There is no indentation in "{}" in "if {} else{}""
What's wrong with my .vimrc?

[code]
# Output of clang-format from command-line

[code]
# Output from ClangFormat in vim

[code]

[2016-05-25 01:16] rhysd commented on #42
Oh, it caused because of the difference of indentation.  Your Vim is configured 2 indentation and formatter is configured 4 indentation, right? Then when pasting the formatted result,  Vim tried to set indentation to 4 spaces.

We need to ignore indentation configuration at pasting the formatted result.

[2016-05-25 14:21] rhysd commented on #42
@372046933

I couldn't reproduce this.  Could you provide more information to reproduce?

![tmp](https://cloud.githubusercontent.com/assets/823277/15543309/55cd53aa-22cf-11e6-9eb5-729b7776c792.gif)

[2016-05-26 06:24] 372046933 commented on #42
@rhysd It happens every time. I do now know what info may be helpful to you. `:version
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Apr 29 2016 11:27:44)
Included patches: 1-1797
Compiled by Arch Linux
Huge version without GUI.  Features included (+) or not (-):
+acl             +cmdline_compl   +digraphs        +folding         +libcall         +mouse_dec       +netbeans_intg   +reltime         +

[2016-05-27 09:19] rhysd commented on #42
Could you test below sequence in your environment?

1. `:set paste`
2. Select whole region with `ggvG`
3. `:ClangFormat`

Does this resolve the indent problem?

[2016-05-28 11:31] 372046933 commented on #42
@rhysd Tried the advice you gave, but still the same issue.

[2016-06-02 06:36] 372046933 commented on #42
@rhysd My colleague found the trick. Hope it helps!
[code]

[2016-06-02 07:28] rhysd commented on #42
Thank you for investigation.

It looks a problem related to indentation configuration.  I guess `:echo shiftwidth()` shows `2` in your environment, right?

[2016-06-03 11:29] 372046933 commented on #42
@rhysd Actually, it is ```8```...

[2016-06-03 12:15] rhysd commented on #42
Could you show me the indentation configuration in your vimrc? I'll be able to try.

[2016-06-05 03:10] 372046933 commented on #42
`set formatoptions+=m

set showmatch
set autoindent
set hlsearch
set fileencodings=ucs-bom,utf-8,cp936,gb18030,big5,euc-cn,gb2312,euc-jp,taiwan,utf-16,latin1
set tabstop=4
set shiftwidth=4
set textwidth=72
set incsearch
set number
"do not indent in C++ namespace
set cinoptions+=g0
`

[2016-07-08 15:34] pmalek opened #44 "Is it possible to allow one line empty structs formatting?"
I would like to be able to automatically format the following code

[code]

into this:

[code]

regardless of my class settings brace wrapping config or anything else.

As I can see a lot of options like `AllowShortBlocksOnASingleLine`, `AllowShortFunctionsOnASingleLine` or `AllowShortIfStatementsOnASingleLine` I would love to see something like `AllowShortClassDefinitionsOnASingleLine` (or simila

[2016-07-08 15:38] pmalek opened #45 "How to configure nested flags?"
Let's say I would like to configure `BraceWrapping` which as of documentation (http://clang.llvm.org/docs/ClangFormatStyleOptions.html) says is of type `BraceWrappingFlags`.

This setting will be taken into consideration when `BreakBeforeBraces` is set to `BS_Custom`.

I know how to use one-dimensional (as below) simple format but I have tried already several options how to use this nested style a

[2016-08-04 05:51] CallumHoward opened #46 "problem with g:clang_format#auto_formatexpr"
I have the following in my init.vim:
[code]

and I am using:
NVIM v0.1.5-405-g00fc216
Build type: Release

I do not have the vim-operator-user plugin installed.

When using `gql` or `Vgq` (in a .cpp file) the inbuilt formatter is used.
`:set formatexpr?` gives `formatexpr=`

If I use `:setl formatexpr=clang_format#replace(v:lnum,v:lnum+v:count-1)` then the `gq` commands work as expected.
I am not

[2016-09-07 13:34] tbastos opened #49 "Cursor position not preserved in multiple windows"
With `auto_format`, if I have the same file open in multiple windows and I write the file...
- In the active window, the cursor is preserved, and the window centers on the cursor.
- In all other windows, the cursor jumps to the beginning of the file.

This is very annoying if you have many windows open at different places in a large file and you save the file, and you forgot to disable vim-clang-f

[2016-10-12 11:44] CodingJonas opened #52 ".clang_format style file not used"
I have a costume `.clang-format` file in my home directory. When I run vim-clang-format in gVim, it formats the code without my costume settings, although I set
`
let g:clang_format#detect_style_file = 1`

in my vimrc. Does the plugin conflict with other plugins? What could be the problem?

[2016-12-05 11:33] Irubataru opened #53 "Removing first line if folded"
Not sure if this project is actively developed anymore, but I have two bugs (will add the second one in a separate issue).

For some reason the first line of my file is removed when I run ClangFormat both in normal mode and in visual mode if the line is folded. I have included a gif for clarity

![header](https://cloud.githubusercontent.com/assets/5611071/20883419/f9b570f0-badd-11e6-99d3-271d6e6d6

[2016-12-05 11:54] Irubataru opened #54 "Folding issues"
The second problem I am having is related to folding. Every time I run `ClangFormat` it refolds my document, which is somewhat disrupting to my workflow. Once more, I have included a gif to illustrate my point

![folding](https://cloud.githubusercontent.com/assets/5611071/20884015/ecfbe814-bae0-11e6-8bab-435992314ab0.gif)

I have the same minimal installation as in #53.

I am using vim version 7.4

[2016-12-16 11:50] salva-b commented on #14
Hi, I think I've got the same issue trying to run vim-clang-format into gvim 8.0 with vimproc already installed:

Error detected while processing function clang_format#replace[2]..<SNR>89_verify_command:
line    3:
clang-format has failed to format

[2016-12-18 07:48] wokalski commented on #42
If anyone else encounters this issue, try setting `expandtab`. `shiftwidth` causes the indentation issues but if you set `expandtab` everything works as expected.

[2016-12-19 12:51] lopippo commented on #52
Are you sure you should not put that .clang-format file in the source directory?

[2016-12-21 08:26] rhysd commented on #42
@wokalski Nice. So we need to `set expandtab` while formatting.

[2016-12-21 08:56] rhysd commented on #42
@372046933 @wokalski

vim-clang-format attempts to use Vim's indentation configuration (`expandtab` and `shiftwidth`). So, if you want to fix them, you need to fix it by configuration.

Below configuration fixed this problem.

[code]

[2016-12-21 08:58] #42 closed

[2016-12-21 09:00] rhysd commented on #44
I don't know the detail of usage of `clang-format` itself. When you find the style configuration which enable your ideal formatting, you can set it to `g:clang_format#style_options`.

[2016-12-21 09:00] #44 closed

[2016-12-21 09:27] #41 closed

[2016-12-21 09:35] rhysd commented on #45
You can use nested dictionary as below:

[code]

[2016-12-21 09:36] #45 closed

[2016-12-21 10:29] rhysd commented on #52
Please give me the information which enables me to reproduce the problem. At least in my environment it looks working.

[2016-12-21 18:44] pmalek commented on #44
Just posting for reference: I have manged to achieve this setting with (my full config):

[code]

[2016-12-22 03:34] rhysd commented on #44
@pmalek Thank you for the note :smile:

[2017-01-06 02:33] #30 closed

[2017-01-08 13:15] oblitum commented on #8
@rhysd maybe you have closed it by accident through commit comment? "__doesn't__ resolve #8", I think GitHub doesn't understand negatives.

[2017-01-08 13:17] oblitum commented on #8
@rhysd yes, it's currently moving to the top.

[2017-01-08 13:19] rhysd commented on #8
thanks... I didn't notice the comment close this issue.

[2017-02-06 20:55] andmer commented on #52
i have a .clang_format in ~/.clang_format
does it pick up that global config if no local one is present in CWD?

[2017-02-19 04:13] bon-chi commented on #52
I've had the same problem when using [vim-clang](https://github.com/justmao945/vim-clang) and vim-clang-format together.

Vim-clang and vim-calng-format use same command(`ClangFormat`).
In my environment, `ClangFormat` command invokes vim-clang's `ClangFormat` and vim-clang's 'ClangFormta' uses LLVM style [by default](https://github.com/justmao945/vim-clang/blob/master/plugin/clang.vim#L65-L67)

`

[2017-03-20 23:44] gbibek opened #56 "Why does my clang-format defaults to LLVM instead of Google format"
I placed autoload, doc and plugin in the .vim folder. Then in .vimrc I do autocmd FileType cpp ClangFormatAutoEnable.

Then I do clang-format -dump-config. It says #BasedOnStyle: LLVM.

The problem: I was excepting the default to be google. But it turns out to be llvm. Then I also did
let g:clang_format#code_style = "google" .. this also did not helped.

I was trying to make google format but it i

[2017-03-22 22:41] gbibek commented on #56
The solution was to create a .clang-format file in the root directory of your project.

$ clang-format -style=google -dump-config > .clang-format

No need to do let g:clang_format#code_style = "google"

that did it for me.

[2017-03-22 22:41] #56 closed

[2017-03-22 23:07] rhysd commented on #56
Thank you for clarification.

[2017-03-24 14:06] lopippo commented on #49
Greetings,
a ping for this issue that I also do find annoying. I do indeed open multiple views (splits) of the same large file and very often call clang-format for indenting code I am writing (eases the reading of that newly written code). But then, as the original poster said, all the other views are "reset" with the cursor set at line 1: col 1.

Thank you for you work on clang-format that I enjo

[2017-04-07 16:08] bgrabow opened #58 "Error when formatting empty file"
I am getting an error when executing ClangFormat in Vim on an empty file.

[code]

I get this error when the target buffer has exactly one empty line, and when the buffer has exactly two empty lines. I do not get the error when the buffer has three or more empty lines, nor when the buffer has at least one non-empty line.

Here's an example file that causes the error:

`foo.hpp`
[code]

This file d

[2017-04-07 20:22] bgrabow commented on #58
[This](https://github.com/rhysd/vim-clang-format/blob/3b0b1c8736664bbf974761e3ae5662237234685f/autoload/clang_format.vim#L77) is the cause of the error.

If I change it to this I fix the case for 2 blank lines, but 1 blank line still causes an error.
[code]
[Elsewhere](https://github.com/rhysd/vim-clang-format/blob/3b0b1c8736664bbf974761e3ae5662237234685f/autoload/clang_format.vim#L199), if I add

[2017-04-09 03:54] rhysd commented on #58
@bgrabow

I could reproduce and addressed this issue. Could you confirm the latest?

[2017-04-09 04:12] rhysd commented on #54
Thank you for reporting this but I can't fix this because the structure of code is changed between before formatting and after formatting. So vim-clang-format cannot determine which folding should be open and which one should not.

[2017-04-09 04:12] #54 closed

[2017-04-09 04:15] rhysd commented on #53
This should be addressed by 0f7cca8dfcee5a1e50bd060c1085828529391a4c.

[2017-04-09 04:15] #53 closed

[2017-04-09 05:48] tracyone opened #59 "indent is not correct"
clang-format version 4.0.0 (tags/google/testing/2016-08-03)

vim config:

[code]

original c code:

[code]

after clang-format:

[code]

As showing above, when using this type of structure initialize， the indent is not correct after clang-format.

[2017-04-10 00:28] frustreated opened #60 "clang-format"
[code]

[2017-04-10 01:43] rhysd commented on #60
It's a bug for clang-format, not vim-clang-format. You should report it to ML clang-format.

However, it doesn't look a bug.

`>>` for nested template is prohibited in C++03, and permitted in C++11. So I guess you format your C++ code with C++11 mode and tend to compile it with C++03 mode.

[2017-04-10 01:43] #60 closed

[2017-04-10 01:57] frustreated commented on #60
"SpacesInAngles":true
it was resolved
i added this to configuration
however thanks for your reply!!
3ks!!

[2017-04-10 14:25] bgrabow commented on #58
Your changes fix the case for 2 or more empty lines, but do not fix the case for 1 empty line. For that case I get an error [here](https://github.com/rhysd/vim-clang-format/commit/890ca5d48e7a6557e0d87b7902b390447e26e476#diff-d1a879e0b532236eb94f6f739419f777R201).

Also, with 2 or more empty lines the script is still incorrectly removing one EOL each time the script is run. You should add this cha

[2017-04-10 14:28] bgrabow commented on #58
I also recommend adding this test case. I think it will fail with your current code:

[code]

[2017-04-13 10:58] rhysd commented on #58
I couldn't reproduce the issue. It works with a buffer containing two newlines only. What version clang-format are you using? My clang-format is 4.0.0.

[2017-04-13 11:01] rhysd commented on #59
Could you ensure that this is a problem of vim-clang-format, not clang-format itself?

Please try the config with command line and check the result by cli is what you intended.

[2017-04-13 18:25] bgrabow commented on #58
The issue is with a buffer containing exactly 1 newline. I agree it works now for a buffer with 2 newlines.

For example, try opening a new file and immediately running ClangFormat. It will fail with an error. This is especially an issue when using ClangFormatAutoEnable since I cannot write an empty file to disk due to the error.

[2017-04-19 08:35] xywei opened #62 "Unexpected behavior in split panes"
It works weirdly when I use `:sp` to edit two different positions on **the same file** simultaneously and call `:ClangFormat` in one pane. The current pane is correctly indented and displayed; however, the other pane always scrolls down to the bottom of the file.

Is there a way to make the other pane stay still?

[2017-05-05 04:05] Sean-Der commented on #62
I just hit this as well using NeoVim `v0.2.0-212-gd2998a0a` and clang-format @ c1c9bd1a5f096242df144b93012eaa06f54f56fe

I don't remember this behavior before, so when I get some time I will try to roll back both and find when this started.

[2017-06-03 10:55] bennyyip opened #64 "Cannot find clang-format when using with vimproc on Windows"
When I use vim-clang-format with vimproc.vim on Windows, the following message shows up.
[code]
[This function](https://github.com/rhysd/vim-clang-format/commit/f47fbca0460d445cd1374d79fc893f0d8bfbd60b#diff-d1a879e0b532236eb94f6f739419f777R142) escapes `clang-format` as `^"clang-format^"`, and vimproc cannot correctly handle shell escape for Windows.
But do we really need to escape `clang-format`

[2017-06-03 20:33] ronakg opened #65 "Cursor jumps to top of file during formatting"
When I run `:ClangFormat` the cursor jumps to top of the file and then jumps back down to where it was before. In this process the current visible buffer gets adjusted because the jump back puts the cursor in the middle of the visible area.

Is it possible to avoid this jump at all?

[2017-06-08 10:45] expipiplus1 commented on #65
Seems similar to https://github.com/nbouscal/vim-stylish-haskell/issues/7

[2017-06-08 10:46] expipiplus1 commented on #62
Similar to https://github.com/nbouscal/vim-stylish-haskell/issues/6

@Sean-Der did you discover anything?

[2017-06-08 10:46] expipiplus1 commented on #62
This looks like a duplicate of https://github.com/rhysd/vim-clang-format/issues/62

[2017-06-08 17:38] Sean-Der commented on #62
@expipiplus1 I rolled back neovim/vim-clang-format a couple months and still had the behavior, I think I just haven't used split with clang-format before (only use it for a minority of the code bases I work on)

but that vim-go solution looks really promising, are you going to open a PR with that? I am happy to take care of it also, but can't until this weekend.

[2017-06-08 18:22] expipiplus1 commented on #62
I'm afraid I don't use clang format at the moment so am probably not the best person to open a PR.

I've made this change to another library and it worked very well https://github.com/nbouscal/vim-stylish-haskell/pull/8

[2017-06-27 17:15] jmnel commented on #65
I just started experiencing the same bug after a recent NeoVim update on Arch Linux. The application scrolls up until one line above the current cursor line, when running `:ClangFormat`. The problem is also triggered by `undo`.

Does anyone have any advice to start debugging this issue?

[2017-06-28 00:52] rhysd commented on #65
I'm trying to reproduce this with the latest Neovim.

[2017-06-28 02:29] rhysd commented on #65
I think we need to restore screen position in addition to cursor position.

[2017-06-28 02:44] rhysd commented on #65
@ronakg @expipiplus1 @jmnel f759745 would fix this issue. Please try the latest.

[2017-06-29 15:00] jmnel commented on #65
The cursor and screen no longer jump from `:ClangFormat` after  [f759745](https://github.com/rhysd/vim-clang-format/commit/f75974580a416c792b8a2007a4446faf0f999832). I am still noticing jumping with undo, but this is possibly a neovim issue. I will try to isolate the issue by turning off plugins.

[2017-06-29 15:06] rhysd commented on #65
Yes, cursor jumps on undo. But currently the behavior is not avoidable because vim-clang-format replaces entire buffer.

[2017-06-29 16:10] cglosser opened #66 ":ClangFormat always folds code when run"
Is there a way to run the formatter without triggering automatic code folding? Presumably this happens because I have vim setup to fold code when opening a C++ file and `:ClangFormat` *re*opens the file after it has done its thing. It would be great if vim-clang-format had some way to disable this so as to avoid having to drill down through a bunch of folds.

[2017-06-30 05:25] rhysd commented on #66
I noticed that it's hard to maintain folding  between the before and the after of formatting. For example, when a formatter found unnecessary `{ ... }` block (e.g. body of `if` statement), it would remove the block. Removing block means the change of folding level. We can't detect it from Vim and vim-clang-format can't know which fold level it should open.

However, closing all folds after formatt

[2017-06-30 05:37] rhysd commented on #66
I added code to maintain fold level at cursor line as much as possible in 1cf402c. Please try the latest and check the behavior is what you want.

[2017-06-30 07:21] rhysd commented on #65
Because cursor moving on undo is the known issue and tracked in #8, let me close this issue. If you find another problem related to this issue, please let me know by commenting here or creating a new issue. Thank you for your report and cooperation.

[2017-06-30 07:21] #65 closed

[2017-07-05 17:25] cglosser commented on #66
I haven't noticed any difference in behavior, but that could easily be due to other settings I have. Do you have an example I can check?

[2017-07-16 17:48] jmnel commented on #8
I have found a temporary solution. I'm posting to help other. Until this issue is fixed, I have put the following in my .vimrc (init.vim) file.

    as

[2017-07-16 18:05] jmnel commented on #65
For a temporary solution, please see my comment in #8.

[2017-07-19 11:32] v45k0 opened #67 "clang-format fails to format"
New user of the plugin here.

Somehow the plugin fails to format the code. Tried to trace down the problem but couldn't find it. The following errors occur in the respective scenarios:

- When a file is formatted automatically on buffer write
![clang-format-buffer-write](https://user-images.githubusercontent.com/6758566/28364427-b6ba39ee-6c84-11e7-9ee2-b1461f2413ae.png)

- When a piece of code is

[2017-07-20 13:26] rhysd commented on #67
We need to clarify this is a problem of vim-clang-format or clang-format itself. Could you show me the code which can reproduce this error?

[2017-07-20 16:15] v45k0 commented on #67
Solved the problem.

The `FixNamespaceComments: true` style option was causing clang-format to crash silently. Although [implemented in February](https://reviews.llvm.org/D30405), it hasn't landed in the latest stable release (4.0.1) yet, which I happen to use (I find this very strange). When executed from the shell, clang-format was ignoring this attribute and thus formatting the source code but

[2017-07-20 16:15] #67 closed

[2017-07-20 18:44] rhysd commented on #67
Thank you so much for looking into this. I appreciate your investigation.

[2017-08-04 23:43] SimplyKnownAsG commented on #14
I actually don't run into this problem with projects that have a `.clang-format`. So, I opened vim with `vim -V9details.log thread.cpp` in a place without `.clang-format` and tried `:w` a bunch of times and got this info:

[code]

To me it looks like `style='` should be using double quotes for windows. I ran the command outside:
[code]

modifying to use double quotes:
[code]

[2017-08-05 03:44] tracyone commented on #64
I can repoduce this issue.

[2017-08-05 04:14] rhysd commented on #64
Thank you for your investigation. I apologize missing this issue...

I think I need to remove hack on Windows in the `s:shellescape()` function. I'll check why I added the hack.

[2017-08-05 05:06] rhysd commented on #64
@bennyyip @tracyone Could you try the latest?

[2017-08-05 05:08] tracyone commented on #64
fixed

[2017-08-05 05:37] rhysd commented on #64
Thank you for confirming. I'll close this issue.

[2017-08-05 05:37] #64 closed

[2017-08-06 05:53] #59 closed

[2017-08-08 16:47] TMVector commented on #8
I believe this problem is also causing my marks to be cleared

[2017-10-12 20:41] antoyo commented on #59
Sorry for commenting even though it's closed, but I'd like to know if @tracyone found a solution.
Thanks.

[2017-10-12 23:47] tracyone commented on #59
@antoyo it is  a issue of clang-format and i haven't found a solution yet.

[2017-10-14 17:59] AlCash07 opened #70 "AlwaysBreakTemplateDeclarations does more than documented"
Documentation states `If true, always break after the template<...> of a template declaration.`

So, I expect to see, for example, the following result:
[code]

However, clang-format produces this even with **AllowShortFunctionsOnASingleLine** and **AllowShortBlocksOnASingleLine** set to true:
[code]

There should be a way to achieve the code in the first sample.

[2017-10-14 18:01] #70 closed

[2017-10-17 08:41] starcalm commented on #8
@jmnel  I got "not an editor command" error when trying to undo with key "u", after adding your script to my .vimrc. Does it work for you?

[2017-10-24 04:56] wenxingxing opened #71 "Error in ubuntu"
It works on mac, but doesn't work on ubuntu... vim's version is 7.4
here is the output of `:12verbose ClangFormat`

[code]

[2017-10-24 11:31] rhysd commented on #71
Could you try following command?

[code]

And please let me know the version of the clang-format and, if possible, please show the code that can reproduce this problem.

[2017-10-24 12:15] wenxingxing commented on #71
Thanks, it turns out that clang-format-3.8 which I'm using on ubuntu can't read the config I generated on mac using clang-format-5.0.

[2017-10-24 12:15] #71 closed

[2017-10-30 09:42] nimroha opened #72 "AlignConsecutiveDeclarations doesn't understand templates"
**EDIT** uploaded image because I can't format the code blocks to show the correct spacings
with only `AlignConsecutiveDeclarations: 'true'`

![image](https://user-images.githubusercontent.com/16114775/32164792-398df718-bd69-11e7-9541-2cf8256d785d.png)

[2017-10-31 14:21] rhysd commented on #72
Please make sure that it is an issue of vim-clang-format. Formatting is a matter of clang-format, not vim-clang-format. So please ensure that it does not occur when directly using clang-format.

[2017-10-31 14:52] nimroha commented on #72
Will repost in clang-format

[2017-10-31 14:52] #72 closed

[2017-11-01 15:51] angelskieglazki opened #73 "Sorted includes"
Before :ClangFormat
#include <common.h>
#include <command.h>
#include <tipwmss.h>
#include <asm/arch/gpio.h>
#include <asm/gpio.h>

After:
#include <asm/arch/gpio.h>
#include <asm/gpio.h>
#include <command.h>
#include <common.h>
#include <tipwmss.h>

[2017-11-01 16:19] angelskieglazki commented on #73
My missfire.
I ьшыыув SortIncludes=false option.

[2017-11-01 16:19] #73 closed

[2018-01-18 07:22] Sean-Der commented on #62
Sorry this took so long @expipiplus1 I just opened a PR https://github.com/rhysd/vim-clang-format/pull/74

Also feel free to use my fork
[code]

[2018-01-18 10:57] expipiplus1 commented on #62
Thanks! Will do!

On Thu, 18 Jan 2018, 07:22 Sean DuBois, <notifications@github.com> wrote:

[2018-01-29 05:46] Sean-Der commented on #62
Hey @xywei can you try this again, it should be fixed now!

[2018-01-29 13:18] korken89 opened #75 "g:clang_format#auto_format_on_insert_leave to only apply on the written lines?"
Hi,

When setting `g:clang_format#auto_format_on_insert_leave = 1`, the entire file is formated when exiting Insert mode.
Could there be a setting added which lets you only format the lines you wrote?

Thanks!

[2018-01-29 13:20] korken89 commented on #75
Sorry, my fault. A setting that made it format everything.

[2018-01-29 13:20] #75 closed

[2018-01-31 18:27] xywei commented on #62
@Sean-Der Works like a charm. Thanks!

[2018-01-31 18:28] #62 closed

[2018-04-20 17:56] SimplyKnownAsG commented on #14
I believe this is no longer an issue, and can be closed due to cc9b5d8f

[2018-05-02 09:41] ilya-kolpakov commented on #52
I also observe that vim-clang-format does not pick up `~/.clang_format` which is picked up if I run `clang-format` tool by myself.

[2018-05-15 22:35] kshenoy opened #76 "Load most settings and override some of them explicitly?"
Is it possible to first pick up the settings from a file and then override some of them?

[2018-05-20 10:53] rhysd commented on #76
You mean, you want to load settings from `.clang-format` and overwrite them with yours? Currently it's not possible from vim-clang-format. And I'm not sure clang-format supports it. vim-clang-format loads settings from `.clang-format` by giving `-style=file` option to `clang-format` command. It conflicts with `-style="{...}"` option which specifies specific settings.

[2018-05-22 04:04] kshenoy commented on #76
Yup, that's right.

That makes sense, just thought I'd check with you.

One way would be for vim-clang-format to read the file and replace the settings as required but that's a lot of effort to do it in vimscript :)

No worries, thanks for all your work 👍

[2018-05-22 04:04] #76 closed

[2018-08-30 14:50] lsc4719 commented on #52
if I set this in my ~/.vimrc file
- `let g:clang_format#detect_style_file = 1`
then, vim-clang-format finds .clang-format form current working directory toward it's ancestors?
or it only checks the current working directory?

-------
**from README**
- `g:clang_format#detect_style_file`

When this variable's value is `1`, vim-clang-format **automatically detects(<-how does this works?)** the style

[2018-09-05 05:35] lsc4719 opened #77 "clang-format removes the newline at end of the file"

[2018-09-05 05:35] lsc4719 commented on #77
Same-Issue: https://github.com/google/vim-codefmt/issues/83

[2018-09-05 05:49] #77 closed

[2018-11-02 14:55] pvonmoradi opened #79 "Error on :ClangFormat in Vim"
I installed the plugin using vim-plug. Then I invoked :ClangFormat to format my C code according to default style (google). The following error is thrown:
[code]

[2018-11-05 16:02] federicotaschin commented on #52
I have the same problem. Where should the .clang-format file be placed?

[2018-12-19 05:31] Snape3058 commented on #79
I think you should install clang-format first, or at least confirm there is an executable file named 'clang-format' in your PATH environment variable.

[2018-12-19 05:52] Snape3058 opened #81 "'auto_format_on_insert_leave' conflicts with 'auto-pairs' to me"
when I set `g:clang_format#auto_format_on_insert_leave` to 1, it conflicts with the brace auto line breaking provided by [auto-pairs](https://github.com/jiangmiao/auto-pairs). In auto-pairs, when the cursor is between a pair of braces in insert mode (`{|}`, the pipe sign represents the cursor), if I press enter, it should insert `\n`s and indents.
e.g.
before press enter:
[code]
after press enter:

[2019-02-08 19:32] dcaballe opened #83 "Apply format to single line in normal mode?"
Hi there!

I was using the python clang-format script but decided to switch to vim-clang-format. It's working ok for me but the only issue I have is that in normal mode the whole file is formatted. With the script, only a single line were formatted. Is there a way to change this behavior in vim-clang-format so that a single line is formatted in normal mode?

Thanks!

[2019-03-16 00:31] maddisoj commented on #83
I have achieved this by doing:

```nnoremap <silent> == V:ClangFormat<CR>```

You can obviously remap this to whatever you want.

[2019-03-16 17:05] dcaballe commented on #83
Thank you so much!

[2019-04-11 08:43] opeik opened #84 "Unable to set value for IncludeCategories"
I can't find any documentation on how to set a value like IncludeCategories. I've tried the following:

`'IncludeCategories' : ["Regex: '^<.*\>'", "Priority: 1", "Regex: '.*'", "Priority: 2"]`

Any help would be appreciated.

[2019-05-12 06:47] buptjamin opened #85 "the source file much longer, the :ClangFormat runs much longer"
slow problem when the source file was long/big.
for example:  any source file  1000+ lines

[2019-05-12 06:47] buptjamin commented on #85
use https://github.com/google/vim-codefmt now!

[2019-05-15 02:36] rhysd commented on #85
vim-codefmt also overwrites entire buffer with formatted output. So I don't know what causes the performance issue on your environment. https://github.com/google/vim-codefmt/blob/master/autoload/codefmt/clangformat.vim#L121

Please let me know the pre-condition (OS, Vim version) and how to reproduce it if you're still interested in this plugin. Otherwise I will close this issue since I cannot inve

[2019-07-12 14:11] ldelossa opened #87 ".clang-format file in root of repo"
Hello,

Will vim-clang-format obey a .clang-format file at the root of the repository even if directives in vimrc are set otherwise?

[2019-08-14 00:33] kdurant commented on #87
I also want to know use `g:clang_format#style_options` or .clang-format file

[2019-08-14 00:39] ldelossa commented on #87
@kdurant it does do what i asked above. .clang-format in repository will override defaults in vim config

[2019-10-05 10:49] r7vme commented on #52
I also came across similar issue. My root cause was that default style used by plugin is `google` (`g:clang_format#code_style`) instead of LLVM system-wide.

So to switch to file:
1. `clang-format -style=Google -dump-config > ~/.clang-format`
2. update `~/.clang-format` with values from `g:clang_format#style_options`

[2019-10-10 00:50] #33 closed

[2019-10-10 05:05] Ronnie-Lon commented on #84
it works for me
let g:clang_format#style_options = {
            \ "BraceWrapping" : {"AfterClass":"true", "AfterControlStatement":"false", "AfterEnum":"true", "AfterFunction":"true", "AfterNamespace":"false", "AfterStruct":"true", "AfterUnion":"true", "BeforeCatch":"false", "BeforeElse":"false"},
            \ "IncludeCategories" : [{"Regex":"^<.*\.h>", "Priority":1},{"Regex":"^<.*>", "Priority":

[2019-10-19 11:12] keithnull opened #88 "Unable to change the indentation width?"
Hi, I tried to config this plugin as instructed but always failed. It seems that whatever I do the indentation width won't change.

Here is my `.vimrc` file after commenting out all other stuff (in fact, even if I remove all other settings, the problem will still remain):
[code]
However, the formatted code still has an indentation of 4 spaces:
[code]

To make sure this is not an issue of clang-for

[2019-10-19 11:22] keithnull commented on #88
How stupid I am!

It turns out that this is because I mistakenly leave a `.clang_format` in the folder, which overrides everything!

[2019-10-19 11:22] #88 closed

[2019-12-24 13:07] 0v3rt1r3d commented on #87
What if the working directory does not correspond to the project root? May I set the path to .clang-format explicitly by a variable?

[2019-12-24 17:41] sefeng211 opened #89 "Doing the formating asychronously?"
My experience is that doing a formatting on a large file may block the UI. Is possible to do the formatting on a difference thread or something? I think Vim8 allows you to do that?

(My vim knowledge is very limited, please feel free to close the issue if it doesn't make sense)

[2020-01-15 11:38] iduhetonas opened #90 "Support for WebKit"
`clang-format` supports WebKit Coding Style: https://webkit.org/blog/25/webkit-coding-style-guidelines/

However, running `:ClangFormat` gives different results than running `clang-format -style=webkit`. Is it possible for the plugin to support WebKit as well?

[2020-01-16 08:57] solanik opened #91 "Auto format specific extensions"
Hi,

AFAIK there's no way to request formatting additional extensions, when formating is done on file save.
I'd like to format files like tpp, cxx and hxx, which are sometimes used throughout projects.

BR

[2020-03-01 09:11] mygenacc99 opened #92 "Clang-format doesn't show tab in if, else, while, for,... block after format"
Hi.
I used command:
:ClangFormatEchoFormattedCode
It showed me the code as expected.
    while( true )
    {
            ---- printf( "hello" );
    }
// ---- is tab.
But when I formated my code
:ClangFormat
It doesn't show tab. It show fine in functions, but in if, else, while, for... blocks then not. Of course, I try to set style to llvm, there is no result.
    while( true )
    {
     printf(

[2020-03-03 09:49] mygenacc99 commented on #92
I used clang-format to create ~/.clang-format file. And it's fine now.

[2020-03-03 09:49] #92 closed

[2020-03-07 17:19] laniolove opened #93 "Some newlines are not indented for Objective-C"
use：
macOS and neovim

image probelm:
![image](https://user-images.githubusercontent.com/9018926/76147720-306fed00-60da-11ea-993d-f21816665ac3.png)

vim config:
let g:clang_format#code_style = "LLVM"
let g:clang_format#style_options = {
            \ "ColumnLimit" : 0,
            \ "IndentWidth" : 4,
            \ "Cpp11BracedListStyle" : "true",
            \ "BreakBeforeBraces" : "Attach",

[2020-03-08 03:22] laniolove commented on #93
#92

[2020-03-08 03:22] #93 closed

[2020-03-11 14:43] smadurange opened #94 "How to install the plugin using vam?"
Hi, I'm very new to vim and plugins, so this might be a stupid question. I'm using vam to install plugins but I can't seem to install this plugin. I tried:

[code]

All of these commands returned `Warning: Ignoring unknown addons:`

Honestly, it would be useful for newbies like me to see a complete example of installation with a popular package manager.

[2020-03-13 18:11] Unknown-Chinese-User opened #95 "how to set a global .clang-format"
I am learning C/C++ so I have many folders to store my codes. Thus I wander if I can use one .clang-format file to format all my codes to avoid copying all my .clang-format into every folder.

[2020-03-22 08:02] 372046933 opened #96 "Failed to format cpp"
`.vimrc`

[code]

`ClangFormat` returns
[code]

`:12verbose ClangFormat` returns
[code]

[2020-04-10 16:15] sonicXconst1 commented on #14
Hello! I've got the same error in nvim-qt (neovim qt client). Win10, vimproc installed and compiled. I use ":ClangFormat" to run clang-format.

![image](https://user-images.githubusercontent.com/9900874/79005177-fbced580-7b5e-11ea-8551-394fdd8f1c65.png)

[2020-04-11 13:00] Kypert commented on #85
Switched to [google/vim-codefmt](https://github.com/google/vim-codefmt) for a while, but wanted to come back to this plugin. Culprit in my case seems to have been `foldmethod=syntax`, please see investigation below.

Using my casual +10k lines C-file, I started the profiler to see what took time:
[code]

In `clang_format#replace()`, the call to `setline(1, splitted)` took about 16s.

Found a simil

[2020-04-12 02:06] 372046933 commented on #96
Seems no activity in this repo. I have reverted to `clang-format.py` solution. So far so good.
`map <C-K> :py3file /usr/share/clang/clang-format.py<cr>`

[2020-04-12 11:11] Kypert commented on #96
Seems to work for me, if you just switch to lower-case `c++14` instead:

[code]

Can you confirm?

[2020-04-12 12:52] 372046933 commented on #96
@Kypert Confirmed that only when `g:clang_format#style_options` is removed, `ClangFormat` will work. Lower case does not work for me either. Sad

[2020-04-12 13:02] Kypert commented on #96
Perhaps you can obtain more clear information by running: `:ClangFormatEchoFormattedCode`

[2020-04-13 01:57] 372046933 commented on #96
@Kypert  Cool. It's clear now. But I do not know how to fix. Could you throw some light upon this?
[code]

[2020-04-13 09:02] Kypert commented on #96
Thank you for the output. Could you please share the version of the clang-format that you are trying to invoke? Did you point to a certain version via `g:clang_format#command`?

Could it be that you are using a version of clang-format that does not include https://github.com/llvm/llvm-project/commit/e5032567903de19962333c4bf7d2edceaf4f9824?

You can also try to run the command manually with your s

[2020-04-13 12:49] LinArcX opened #97 "Support vala langauge?"
Is there any way to use vim-clang-format with vala-based projects?

[2020-04-13 15:25] 372046933 commented on #96
Tried your test case, but it failed to format.
I am using Arch Linux. `clang-format` is provided by  package `clang`. `llvm`
is also installed.
[code]

[2020-04-13 17:55] Kypert commented on #96
To me it looks like the version of clang-format you use do not include the commit I mentioned. Are you using 9.0.1? If I am reading it correctly, you need 10.0.0-rc1 to get the c++14 attribute.

[2020-04-14 01:41] 372046933 commented on #96
Even if I changed Standard to c++11,  the same error occurred. But upper case `C++11` works!
[code]

[2020-04-14 06:40] Kypert commented on #96
Makes sense, since the lower-case versions were added in the commit I mentioned. I think we have a case-closed situations :) Please update your clang-format binary or adapt the config.

[2020-04-14 06:42] aravind2612krishna opened #98 "Bug: undo after ClangFormat does undo twice, erasing previous changes"
Neovim, windows.
To reproduce :
In the simple file below, try changing Hello to something else, then selecting the lines and doing a clang format.
Then, doing an Undo undoes the Hello change as well.
![clangformatbug](https://user-images.githubusercontent.com/3424615/79193850-1055eb00-7e49-11ea-9996-336bf45fb9d8.gif)

[2020-04-14 10:04] 372046933 commented on #96
There is another problem that I didn't mention earlier. Invoking `:ClangFormat` from vim doesn't format the code correctly. While `clang-format` command line works. The incorrect format result is as follows. You can see that the indentation of  line 107 is wrong. I didn't set `g:clang_format#style_options` in `.vimrc`
[code]

[2020-04-14 11:18] Kypert commented on #96
Sorry, not sure how to tackle that one. Like you said, it is another problem indeed, maybe check `:ClangFormatEchoFormattedCode`? Can you see if other parts of the code get formatted, like if you introduce extra spaces on other lines?

[2020-04-14 13:11] 372046933 commented on #96
Surprised. `:ClangFormatEchoFormattedCode` shows rightly formatted code. Quite confused now :P

[2020-04-16 11:22] Kypert commented on #96
Could it be that another plugin is interfering, would it be possible to scale down and see if the issue goes away at some point? Maybe you already solved it?

[2020-04-16 21:07] Kypert commented on #98
I think I have a local fix for this, can prepare a PR tomorrow. Would it be possible for you to try it out?

[2020-04-17 01:23] 372046933 commented on #96
@Kypert , I just followed your suggestion to scale down. Found that `set tabstop=4` and `set shiftwidth=4` vim `.vimrc` is the root cause. Thanks a million.

[2020-04-17 01:50] #96 closed

[2020-04-17 06:02] aravind2612krishna commented on #98
Least I can do. Thanks

[2020-04-17 18:00] GiuseppeCesarano commented on #90
I'm using the webkit style and it's working fine. To default to webkit style i just inserted
`let g:clang_format#style_options = { "BasedOnStyle" : "WebKit"}` in my config flie.

[2020-04-17 18:11] GiuseppeCesarano opened #99 "Detect if file is formattable"
Sometimes when i write cmake files muscle memory kicks in and i press the shortcut to call `:ClangFormat`, resulting in my code hardly messed up, nothing that the undo command can't resolve. Is there any way i can prevent `:ClangFormat` to run if the file isn't supported?

For example Prettier doesn't create it's method if the file isn't supported. There is something i can check to evaluate the fi

[2020-04-17 18:25] Kypert commented on #99
Sharing my spontaneous thought: personally I have the same trait as you (wanting to format everything), but I make use of `gd` instead, via `g:clang_format#auto_formatexpr` which makes gd [file-type-aware via autocmd](https://github.com/rhysd/vim-clang-format/blob/master/plugin/clang_format.vim#L32). I guess my reasoning is that this opens up for a more generic way to formatting any file (you coul

[2020-04-17 21:56] GiuseppeCesarano commented on #99
Yes that actually helped me implement the behavior i wanted, thank you.

[2020-04-17 21:56] #99 closed

[2020-04-17 22:57] Kypert commented on #98
Met some unexpected issues when I added a small unit test for the issue at
hand. Still works in my normal environment though. Will continue tomorrow.

On Fri, 17 Apr 2020, 08:02 aravind2612krishna, <notifications@github.com>
wrote:

[2020-04-18 10:46] iduhetonas commented on #90
@GiuseppeCesarano That's fantastic, thank you!

I wonder why this isn't listed as an option. According to the README.md

My problem was that I used `g:clang_format#code_style = "webkit"`, which obviously didn't work. Maybe this can be added?

[2020-04-18 17:39] Kypert commented on #98
@aravind2612krishna, while I still have issues in the test, it works for my normal vim/nvim instance. At your convenience, it would be valuable it you could try it out and see if the fix is also valid in your setup.

[2020-04-18 20:16] Kypert commented on #97
From just a quick look, it seems feasible. I made a small manual test, using [arrufat/vala.vim](https://github.com/arrufat/vala.vim) as file type detector and syntax highlighting. `:ClangFormat` can format the code as normal (the whole file or just the visual selected area), it seems.

Of course you need to define the .clang-format file to your liking.

If you are looking for the `clang_format#aut

[2020-04-19 14:26] 372046933 commented on #96
Upgraded to clang 10.0.0-2,  now `Standard" : "c++17"` is recognized.

[2020-04-19 21:36] Kypert commented on #97
Looking deeper, it looks like clang-format will take an educated guess and arrive to the conclusion that it is dealing with LK_Cpp (there is no specific vala variant). From my limited view, I see no obvious problem but maybe you can try some more combinations?

Another idea is to make clang-format assume that the file is of type LK_CSharp instead, which should hit closer to home for a vala file? W

[2020-04-19 21:54] Kypert commented on #95
Maybe you already have reached a solution to this.

If you are using `g:clang_format#detect_style_file`, one way is to define your `.clang-format` file in the parent directory.

Another way is to have no specific `.clang-format`, but using `g:clang_format#style_options`, but depending on how many you have, it might not be feasible.

What I am trying to describe is: https://github.com/rhysd/vim-cla

[2020-04-20 08:58] aravind2612krishna commented on #98
I tried with the plugin from 'Kypert/vim-clang-format', but similar behavior persists.

[2020-04-20 10:33] Augists-ZDCZ opened #102 "How to write style_option???"
Sorry, I can't understand totally about your example of style_option.
And I surf on the [*website*](http://clang.llvm.org/docs/ClangFormatStyleOptions.html) in README
But sorry for that, I don't know how to write in my *.vimrc*
So I got this wrong
Error detected while processing function clang_format#replace[6]..<SNR>83_error_message

Just an example

[code]
As you can see, I set the `BreakBeforeB

[2020-04-20 10:41] Augists-ZDCZ commented on #45
I copied

[code]
but I still got the same wrong

[2020-04-20 12:08] Kypert commented on #98
Interesting, just to make sure, did you use the fix branch:

`Plug 'Kypert/vim-clang-format', { 'branch' : 'fix/issues/98' }`

[2020-04-20 13:56] aravind2612krishna commented on #98
Apologies. It does work in that branch, I just tried.

[2020-04-20 17:15] Kypert commented on #102
I believe you should have the string set to just:
`            \ "BreakBeforeBraces" : "Allman",`

From the link you referred to:
`BS_Allman (in configuration: Allman) Always break before braces.`

Please notice the `in configuration: Allman` part.

Regarding `AlignTrailingComments`, it seems to work for me with your `style_options`. Could you explain further or do you have an example?

[2020-04-20 17:43] Kypert commented on #91
For those extensions, if you have properly setup autocmds[1] (e.g perhaps via `autocmd BufRead,BufNewFile *.tpp setfiletype cpp`) to detect and set the filetype then `g:clang_format#auto_format` should still take effect.

Does this cover your needs?

[1]: [Currently](https://github.com/vim/vim/blob/faac410409a8d693a0326ad9db42dca85419a391/runtime/filetype.vim#L294), it looks like `*.cc,*.cpp,*.cxx

[2020-04-20 18:03] Kypert commented on #94
Perhaps you have already gotten past this step?

I do not know about `vam install`, but took a quick look and I have to agree with [this](https://www.reddit.com/r/vim/comments/6sw1mk/vam/), see comment by by `-romainl-`. Not sure if you are using the former or latter in that comment.

I recommend using [vim-plug](https://github.com/junegunn/vim-plug), which I use myself and that is quite straight

[2020-04-21 03:15] Augists-ZDCZ commented on #102
Sorry for that I didn't understand it
So how could I write my own style_option...
For example
I like the feature of `\ "BreakBeforeBraces" : "Allman",`
Whether it could not be added to style_option cuz it isn't `in configuration: Allman` ?
I would appreciate it if you explain further...:)

---

`AlignTrailingComments` works well
sorry for that

---

Thanks

[2020-04-21 03:37] Augists-ZDCZ commented on #102
I search on that website and here is the style_option I use

[code]

But could you please tell me why the code below is not the same as I imagine

* After format

[code]

* Imagination

[code]

It is as the same as I imagine in another part of code
The only difference between them is whether a template function or not

[2020-04-21 12:05] Kypert commented on #102
Could you share which version of `clang-format` you are using?

Does it make any difference if you have (Standard: Latest):
[code]

Does the output from `:ClangFormatEchoFormattedCode` look as expected?

[2020-04-21 13:09] Augists-ZDCZ commented on #102
`clang-format version 9.0.0 (tags/google/stable/2019-05-14)`

If I set the `Standard` to `Latest`, something will go wrong with the plugin

[code]

But as you say, I use `:ClangFormatEchoFormattedCode` and that style looks as expected!!!

What should I do now?

I didn't use `:set cindent` but did add

[code]

in my .vimrc

[2020-04-22 01:11] Augists-ZDCZ commented on #102
**I got it!!!!!!!!**

tabstop & shiftwidth are both already set to 4

and I add  `set expandtab		"tab to space` to my .vimrc

Now it works well

You are so **nice & patient!!!**

BTW, it could be better if writing kinds of style_option choices in README.md

so that we can copy one of them directly

---

🙏🙏🙏

[2020-04-22 01:11] #102 closed

[2020-04-22 01:16] Augists-ZDCZ commented on #102
oh, then the `AlignTrailingComments` also work better

it worked only partially before `set expandtab`

[2020-04-22 06:01] Kypert commented on #83
@dcaballe, consider to close this issue?

[2020-04-22 14:46] #83 closed

[2020-04-29 02:33] ssh352 opened #103 "Can vim-clang-format correctly indent as I write code?"
I've already used it to format code and it works beautifully. Can it also correctly indent as I write code(c++ for example)? or should I still set the correct indent via other plugins or vim options? Thank you.

[2020-05-01 20:15] Kypert commented on #103
Maybe the closest you can come is to use `g:clang_format#auto_format_on_insert_leave`, would that satisfy your use-case? I think I know what you are after, but I think you need to set indent and snippets to conform to the style is still a good idea in order to hit somewhat close to home as you enter code in insert mode :)

[2020-05-06 06:04] ssh352 commented on #103
thank you indeed this is a way to simulate what I need.

[2020-05-10 15:48] irreallich opened #105 "How to set the indent after #define"
I read the http://clang.llvm.org/docs/ClangFormatStyleOptions.html and do lots of test , but I don't know how to set the following style:
don't care about the '\',  it is correct on my pc ,and I don't know how to make it correct in the markdown.
expect:
[code]
now:
[code]

[2020-05-12 11:00] shreejun opened #106 "last edit mark is tampered after ClangFormat"
Select a line in visual mode and do :ClangFormat. It formats only the selected line as expected. Move around the cursor to other lines, and then press `. in order to jump to the line formatted earlier. It jumps to the end of the file instead.

[2020-05-12 17:06] Kypert commented on #105
It seems like the continuation of the macro is treated as a new indentation level by clang-format, like adding another pair of { } would too. But ultimately, not much that this plugin can do for you in this scenario, I think.

[2020-05-15 01:02] irreallich commented on #105
@Kypert
thanks for your reply, I agree with you , it is the problem about how to use clang-format.
but in the plugin,
          'BreakBeforeBraces' : 'Allman',
can be used to set up for the braces,  and there are lots of sub settings after it if I set BreakBeforeBraces as 'custom',  but I try to do so, the plugin report error

[2020-05-16 09:49] Kypert commented on #105
Would you mind share the exact style_options? Did you make sure that you used `Custom` with upper-case `C`?

[2020-06-02 12:37] uday-cb opened #109 "Overriding an option from .clang-format"
Hi all,

Is there a way to specify an option that overrides the one found in .clang-format in the directory tree? I notice the `let g:clang_format#style_options = {` variable, but it  isn't clear if specifying options there is additive to the ones found in .clang-format or a replacement, and if it's the former, as to which one overwrites the other. This perhaps depends on the behavior of clang-for

[2020-06-02 22:57] tanmoykundu commented on #109
I am having the same trouble. I have different .clang-format in my different projects and I wanted to overwrite the .clang-format from the parent directory of the open buffer.
I have tried using with and without the following options as well as copying my style option individually, but somehow its not overriding.

let g:clang_format#code_style='google'
let g:clang_format#detect_style_file = 1
let

[2020-06-18 06:23] Layamon commented on #79
Error detected while processing function clang_format#replace[6]..<SNR>66_error_message:
line    1:
clang-format has failed to format.
Press ENTER or type command to continue

I have the same error , and I am sure that clang-format is installed, and its version is 5.0

[2020-06-24 14:08] mrutyunjayan commented on #79
I'm getting the same error

clang-format is not found. check g:clang_format#command.
Error detected while processing function clang_format#replace[6]..<SNR>128_error_message:

[2020-06-24 19:38] mrutyunjayan commented on #79
I'm getting the same error too

[2020-06-26 14:43] mrutyunjayan commented on #79
for now I'm calling clang-format externally using :! clang-format -i *.cpp and having it mapped to a keyboard shortcut...while it works, I would really like to have the in built clang format working

[2020-07-03 22:51] guyben13 commented on #98
Do you know why the undojoin is there?

[2020-08-31 02:31] amandeepgautam opened #110 "ClangFormatAutoEnable to only format surrounding unsaved buffer"
If we do ClangFormatAutoEnable, the whole file is formatted. Is there a way to just format the unsaved buffer and not touch the whole file?

[2020-10-16 02:39] irreallich commented on #105
@Kypert
I  am very sorry for the late reply now
I share two settings,  the original issue can be reproduced both of them

the following is my settings now, BreakBeforeBraces  is 'Allman'
[code]

the following is my test settings,
 47 function! Vbackup_func()
 48     let g:clang_format#code_style='llvm'
 49     let g:clang_format#style_options = {
 50     \ "TabWidth" : 4,
 51     \ "UseTab" : 'Nev

[2020-11-08 02:20] obaranek opened #111 "Error when running ClangFormat in neovim"
Hi, I get this error when i run ClangFormat:
Error detected while processing function clang_format#replace[6]..<SNR>139_error_message:

[2020-11-23 16:19] Spielix opened #112 "Working with CUDA"
It would be great if this plugin would either out of the box work with file endings like .cu and .cuh, or if one could specify additional file endings in the vimrc which will be treated the same as .c/.cpp/.h/.hpp.

[2020-12-06 08:23] exapsy commented on #79
This is a configuration error most likely. I'm having this error when there is a value that does not match any configuration values of the specified key.

[2020-12-07 09:33] #81 closed

[2020-12-24 17:21] char101 commented on #95
Another way is to use python to convert the `.clang-format` yaml into a single line

[code]

This is for Windows. For Linux the quotes string should be quoted using `shlex.quote`.

[2021-01-24 12:39] Nishant0073 commented on #79
Run
`sudo apt-get install clang-format`

and the in vim

`:ClangFormat`

done :+1:

[2021-01-24 13:50] pvonmoradi commented on #79
I've since moved to CCLS and Clangd using coc.nvim. closing the issue now.

[2021-01-24 13:51] #79 closed

[2021-04-07 19:21] abertoldi commented on #111
I also see this error on neovim (nightly).

[2021-04-18 19:12] mcandre opened #114 ":ClangFormat kills vi"
When I run `:ClangFormat`, it immediately suspends the Vim session. This lands me back onto the shell.

Example file:

https://github.com/mcandre/swiper/blob/master/include/swiper/swiper.hpp

Recovered using the swap file and tried again, same result every time. My code never formats.

Uninstalling the plugin for now.

Vim 8.1, Ubuntu 20.04 Focal Fossa.

[2021-04-18 19:19] mcandre opened #115 "Recommend installation command"
Please show a specific installation command using common community tools. For example, show the vim-plugin snippet to write in vimrc. This helps newbies to install vim-clang-format more easily.

[2021-05-14 11:13] Kypert commented on #114
I was unable to reproduce this, file was formatted just fine.

Were you able to test `clang-format swiper.hpp` in the shell, to see that clang-format itself was behaving?

Did you have any specific style options defined in `g:clang_format#style_optionsg:clang_format#style_options`? Or which `.clang-format` file was used?

[2021-05-14 12:26] Kypert commented on #105
Sorry, i missed this reply. Yearly update :)

From my understanding, the `plugin error` was when you tried to set the different BraceWrapping options, which is nested - but it looks like you have figured that part out.

When it comes to the indent after the escaped-newline in a macro, I think you have to turn to clang-format and request this option. I too am unable to find the suitable option knob

[2021-07-16 05:59] jphz opened #116 "There's a problem with formatting"
this is .vimrc file
let g:clang_format#command = 'clang-format'
autocmd FileType c,cpp ClangFormatAutoEnable

I edit and format the .cc file first，Then edit the proto file and send an error when saving it。

Error detected while processing function clang_format#replace[6]..<SNR>105_error_message:
line    1:

[2021-07-24 08:23] MyNamehuh commented on #111
I found solution to this issue.

**Reason:**
I found that clang-format.vim(plugin) search for .clang-format in your system, So it give error when there is no .clang-format file
Or
In my case .clang-format file had error which lead to  this error.

**Solution:**
Firstly clang-format needs a config file called .clang-format
Which i recommend creating in home directory

`mkdir  ~/.clang-format`

Then

[2021-07-24 08:53] MyNamehuh commented on #116
I posted solution on #111
still here it is.

I found solution to this issue.
My error message was a little bit different(number_error_message) so, I am not sure if this will help.

**Reason:**
I found that clang_format.vim(plugin) search for .clang-format in your system, So it give error when there is no .clang-format file
Or
In my case .clang-format file had error which lead to this error.

**Sol

[2021-09-30 19:15] Prikalel commented on #79
Had the same error. My options in ~/.vimrc was:
[code]
After adding some lines, error disappered:
[code]

[2021-10-21 00:34] FabianPaci opened #117 "selected code formatting in visual mode isnt working."
under the usage heading in the readme and in the gif, it demonstrates using visual mode to only format selected code. but when i try doing that it doesn't work and instead formats the entire file.

https://user-images.githubusercontent.com/58243358/138192149-11416ded-89f9-4f63-a4ee-b2a078e3cb4f.mp4

[2021-11-11 03:20] rhysd commented on #97
261d02c305f3ed361c39e3b9ca5d66b5b45df4c7 closed this.

[2021-11-11 03:20] #97 closed

[2022-01-13 09:12] sunbingfeng commented on #111
Yeah, it works.

[2022-01-25 22:50] whyvn commented on #117
Okay, it was an issue with my config but its fixed now.

[2022-01-25 22:50] #117 closed

[2022-02-09 13:24] heqiliao opened #123 "How can I disable auto_format_on_insert_leave in some special case"
Sometimes I don't want to fomat the inserted codes, I wonder if there is any command like ClangFormatAutoToggle to control it ? But I don't find it in doc.

[2022-03-14 09:15] kulvait opened #124 "stderr clang-format output got pasted into the source file"
Thank you for the plugin!

I am running the plugin also on the system with incompatible .clang-format file with the version of clang-format. The behavior is that when I run
`clang-format -i file.cpp`
it formats the file and puts error message to the stderr, in my case

[code]

When I run `:ClangFormat` in vim, it inserts the output from stderr to the beginning of the source code causing its no lon

[2022-10-25 19:36] csmartdalton commented on #98
Can this PR be accepted? I have this same issue with undos